---
metadata:
  name: Call to Action
  class: section
  lists: []
  fields:
  - id: name
    type: text
    label: Name
    default: Hello!
  - id: ''
    type: text
    label: ''
    default: ''
  hide_on: []
  category: cta
  requires: []
  settings: []
  components: []
---
<section>{{this.name}}</section>